#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Excel CSS */

.App {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
}

input {
  border: none;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
